.list-group {
    display: none;
}

.show {
    display: block;
}

.black-bg {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 5;
    padding: 30px;
    opacity: 0 ;
    visibility: hidden; /*dispaly : block 대용 모습만 숨김 */
    transition: all 0.5s;
}

.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;  
}

.login_show {
    visibility: visible;
    /* display : block 대용*/
    opacity: 1;
    /* 투명도 */
}

.main-bg {
    padding: 100px 20px;
    background: lightgray;
}

.modal-on{
    display: block;
    opacity: 1;
    visibility: visible;
}
.slide-container{
    width: 300vw;
}
.slide-box{
    width: 100vw;
    float: left;
}
.slide-box img{
    width: 100%;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 5;
}
.navbar-brand{
    font-size: 30px;
}